In [3]:
# Import pandas for data handling
import pandas as pd

# Import train_test_split to divide data
from sklearn.model_selection import train_test_split

# Import Logistic Regression model
from sklearn.linear_model import LogisticRegression

# Import accuracy and classification report
from sklearn.metrics import accuracy_score, classification_report
# Load the downloaded Iris dataset
df = pd.read_csv("Iris.csv")

# Display first 5 rows
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
# Drop the Id column because it is not useful for prediction
df = df.drop("Id", axis=1)

df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
# Features (input data)
X = df.drop("Species", axis=1)

# Target (output)
y = df["Species"]
# Split data into 80% training and 20% testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
# Create Logistic Regression model
model = LogisticRegression(max_iter=200)

# Train the model
model.fit(X_train, y_train)
# Predict species for test data
y_pred = model.predict(X_test)
# Calculate accuracy
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [8]:
# Show detailed classification report
print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))

Classification Report:

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        10
Iris-versicolor       1.00      1.00      1.00         9
 Iris-virginica       1.00      1.00      1.00        11

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30